---
name: promsnmp-metrics-build
run-name: Build PromSNMP Metrics
on:
  workflow_dispatch:
  pull_request:
    types: [ opened, synchronize, reopened ]
    paths-ignore:
      - '**.md'
      - '**.txt'
      - '**.png'
      - '**.jpg'
      - 'docs/**'
      - 'GEMINI.md'
      - 'snmpd.conf'
  push:
    branches:
      - '*'
    tags:
      - 'v*'  # Only version tags like v1.0.0

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'
      - name: Set a OCI floating tag for a release
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          echo "OCI_RELEASE_CANDIDATE=latest" >> ${GITHUB_ENV}
      - name: Set version number, data and short git hash
        run: |
          echo "VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> ${GITHUB_ENV}
          echo "SHORT_GIT_SHA=$(git rev-parse --short HEAD)" >> ${GITHUB_ENV}
          echo "BUILD_DATE"=$(date -u +"%Y-%m-%dT%H:%M:%SZ") >> ${GITHUB_ENV}
          echo "OCI_FLOATING_TAG=${OCI_RELEASE_CANDIDATE:-snapshot}" >> ${GITHUB_ENV}
      - name: Build and run tests
        run: make
      - name: Persist JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: promsnmp-metrics-jar
          path: |
            target/*.jar
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        if: ${{ github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/v') }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build container image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: ${{ github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/v') }}
          build-args: |
            DATE=${{ env.BUILD_DATE }}
            GIT_SHORT_HASH=${{ env.SHORT_GIT_SHA }}
            VERSION=${{ env.VERSION }}
          tags: ghcr.io/${{ github.repository_owner }}/promsnmp-metrics:${{ env.SHORT_GIT_SHA }},ghcr.io/${{ github.repository_owner }}/promsnmp-metrics:${{ env.VERSION }},ghcr.io/${{ github.repository_owner }}/promsnmp-metrics:${{ env.OCI_FLOATING_TAG }}
